* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Minecraft";
    background-color: #281f3f;
    color: #fafafa;
}

@font-face {
    font-family: "Minecraft";
    src: url("/src/assets/fonts/Minecraft_Regular.woff2") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Minecraft";
    src: url("/src/assets/fonts/Minecraft_Bold.woff2") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Minecraft";
    src: url("/src/assets/fonts/Minecraft_Italic.woff2") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Minecraft";
    src: url("/src/assets/fonts/Minecraft_BoldItalic.woff2") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

.container {
    margin-left: 12%;
    margin-right: 12%;
}
